<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>游戏查看</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('sidebar') %>
    <div class="main">
        <h2 class="toshow"><%= arr[0] || "???" %></h2>
        <% if(Array.isArray(arr[1])){ %>
            <ul>
                <% for( let i = 0; i < arr[1].length; i++ ) { 
                    if(arr[1] && arr[1][0]){%>
                    <li>
                        <button data-href="/game/choose/<%= i %>" class="toshow"><%= arr[1][i][0] %></button>
                    </li>
                <% }
                } %>
            </ul>
        <% } else {
            if(arr[1] === "game.win"){ %>
                <p class="tip tip-gold">通关！</p>
            <% } %>
            <ul><li>游戏结束。</li><li><button data-href="/game/out">退出</button></li></ul>
        <% } %>
    </div>
    <script>
        if(window.localStorage.gid){
            window.localStorage.gid = (parseInt(window.localStorage.gid)||0) + 1;
        }else{
            window.localStorage.gid = 1;
        }
        window.addEventListener("storage", function(ev){
            window.close();
            setTimeout(function(){
                document.querySelector("title").innerHTML = "/(ㄒoㄒ)/~~ 游戏已退出";
                document.querySelector(".main").innerHTML = "<h2>游戏已退出</h2><p class='tip'>请转到最新的游戏界面。</p>";
            }, 100);
            
        });
        document.documentElement.addEventListener("click", function(e){
            var el;
            if(!(el=e.target.closest("[data-href]"))) return;
            e.preventDefault();
            fetch(el.dataset.href).then(s=>s.json()).then(function(j){
                if(j.status === 200) window.location.reload();
                else alert(j.msg);
            });
        });
        Array.from(document.getElementsByClassName("toshow")).forEach(function(el, i){
            setTimeout(function(){
                el.style.opacity = "1";
            }, i * 500 + 500);
        });
    </script>
</body>
</html>