<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>没有进行中的游戏</h2>
    <p>您还未选择游戏。<a href="/">回到首页</a>查看更多精彩游戏。</p>
</body>
</html>