
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  background-color: #cccccc;
}

a {
  color: #00B7FF;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  margin-bottom: 10px;
  list-style: none;
}

li button{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #00000008;
  color: #aaaaaa;
  cursor: pointer;
  width: 200px;
  text-align: left;
  line-height: 30px;
}

li button::before{
  content: "";
  display: inline-block;
  vertical-align: center;
  width: 9px;
  height: 9px;
  background-color: currentColor;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

li button:hover{
  background-color: #0000000c;
}

li button:active{
  background-color: #00000010;
}

li button:focus{
  outline: 1px solid #cccccc;
}
.main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 30px;
  box-shadow: 1px 1px 15px #000000;
}
.main>*{
  margin: 0 auto;
}
.main h2{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 12px;
}

.tip{
  background-color: #ff3333;
  color: #ffffff;
  padding: 5px;
  width: 70%;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
}

.tip::before{
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/images/info.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: opacity(0.8);
}

.tip-gold{
  background-color: #ff9933;
}